set_io clk E4
set_io key[0] B2
set_io key[1] F5
set_io key[2] B1
set_io key[3] C1
set_io key[4] C2
set_io key[5] F4
set_io key[6] D2
set_io key[7] G5
set_io key[8] D1
set_io key[9] G4
set_io key[10] E3
set_io key[11] H5
set_io key[12] E2
set_io key[13] G3
set_io key[14] F3
set_io key[15] H3
set_io key[16] F2
set_io key[17] H6
set_io key[18] F1
set_io key[19] H4
set_io key[20] G2
set_io key[21] J4
set_io key[22] H2
set_io key[23] J5
set_io key[24] G1
set_io key[25] J3
set_io key[26] H1
set_io key[27] J2
set_io key[28] J1
set_io key[29] K1
set_io key[30] K3
set_io key[31] L4
set_io data[0] L1
set_io data[1] K4
set_io data[2] M1
set_io data[3] L6
set_io data[4] L3
set_io data[5] K5
set_io data[6] M2
set_io data[7] L7
set_io data[8] N2
set_io data[9] M6
set_io data[10] M3
set_io data[11] L5
set_io data[12] N3
set_io data[13] P1
set_io data[14] M4
set_io data[15] P2
set_io data[16] M5
set_io data[17] R1
set_io data[18] N4
set_io data[19] N6
set_io data[20] T1
set_io data[21] P4
set_io data[22] R2
set_io data[23] N5
set_io data[24] T2
set_io data[25] P5
set_io data[26] R3
set_io data[27] R5
set_io data[28] T3
set_io data[29] R4
set_io data[30] M7
set_io data[31] N7
